/GenericClassApp/build
/GenericClassApp/install
/GenericClassLib/build
/GenericClassLib/install
/InheritanceClassApp/build
/InheritanceClassApp/install
/InheritanceClassLib/build
/InheritanceClassLib/install